@keyframes shuffle-animation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-30px) rotate(-5deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-30px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.shuffle-animation {
  display: flex;
  animation: shuffle-animation 1s ease-in-out; /* Duração da animação de embaralhamento */
}
